---
import MainLayout from "../layouts/main.astro";
---

<MainLayout title="Recent Blog Entries" description="List of my most resent blog entries." blog={true}>
  <h1 class="text-4xl">Recent Blog Entries</h1>
  <div class="grid grid-cols-2 md:grid-cols-4">

  </div>
</MainLayout>